{% extends 'users/layouts/index.html' %}

{% block title %}
    Order
{% endblock title %}
    
{% block content %}
    <a class="btn btn-danger mb-3" href="{% url 'posts:list-posts' %}">Continute Shopping</a>
    <table class="table table-bordered border-success ">
        <thead>
            <tr>
                <th>Status</th>
                <th>Order Date</th>
                <th>User Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Total</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <h2>Danh sách đơn hàng của bạn</h2>
            {% for order in orders %}
                <tr>
                    <td>{{ order.status }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.phone }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.total }} vnd</td>
                    <td>{{ order.user.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
