{% extends 'layouts/index.html' %}


{% block cart_content %}
<!-- <br><br>
    <div>
        <div>
            <a  class="btn btn-outline-success" href="{% url 'posts:list-posts' %}">&#x2190; Continue Shopping</a>
        </div> 
        <br>
        <div class="d-flex justify-content-between">
            <div>
                <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
            </div>
            <div>
                <th><h5>Total:<strong>{{order.get_cart_total}}</strong></h5></th>
            </div>
            <div>
                <th>
                    <a  style="float:right; margin:5px;" class="btn btn-success" href="">Checkout</a>
                </th>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>12</td>
                        <td>img</td>
                        <td>Post1</td>
                        <td>100</td>
                        <td>1</td>
                        <td>X</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->

    <h2>Your Cart</h2>
        <ul>
            {% for item in cart_items %}
                <li>{{ item.post.title }} - Quantity: {{ item.quantity }}</li>
            {% endfor %}
        </ul>

{% endblock cart_content %}
    