
{% extends "layouts/index.html" %}
{% block title %}
  Edit Post | {{ block.super }}
{% endblock title %}
{% block content %}
  <h4><small>Edit Post</small></h4>
  <hr>
  <div class="card">
    <div class="card-body">
      <form action="#" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">                    
          <label for="name">Name <span style="color: red">*</span>:</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ object.name }}" required>
        </div>

        <div class="mb-3">
          <label for="content">Content <span style="color: red">*</span>:</label>
          <textarea class="form-control" id="content" name="content" rows="5" required>{{ object.content }}</textarea>
        </div>

        <div class="mb-3">
          <label for="content">Price <span style="color: red">*</span>:</label>
          <input class="form-control" id="price" name="price" required value="{{object.price }}">
        </div>

        <div class="mb-3">
          <label for="image">Image <span style="color: red">*</span>:</label>
            {% if object.image %}

              <div class="mb-2">
                <img src="{{ object.image.url }}" alt="Current Image" class="img-fluid" style="max-width: 200px;">
              </div>

            {% endif %}
            <br>
          <input type="file" class="form-control" id="image" name="image">
        </div>

        <button class="btn btn-primary" id="submit_update_post" data-id="{{object.pk}}" type="button">Update Post</button>
      </form>
    </div>
  </div>

<script>
  var update_url = "{% url 'api:api-update-post' %}";
 
    $('#submit_update_post').click(function(e) {
    e.preventDefault();
    e.stopPropagation();
    const id_post = $(this).attr('data-id')
    const name = $('#name').val();
    const content = $('#content').val();
    const price = $('#price').val();
    const image = $('#image')[0].files[0];
    let formData = new FormData();
    formData.append('id_post', id_post);
    formData.append('name', name);
    formData.append('price', price);
    formData.append('content', content);
    
    if (image) {
      formData.append('image', image);  // Append the image file if available
    }
     
    $.ajax({
      type: "POST",
      url: update_url,
      headers: {
        "X-CSRFToken": getCookie("csrftoken")
      },
      data: formData,
      processData: false,
      contentType: false,
      success: function(response) {
        alert('Update successfully!');
        window.location.href = '/posts/list-posts';
      },
      error: function(err) {
        console.log("err", err)
      }
    });
  });

</script>
{% endblock content %}

