{% extends 'users/layouts/index.html' %}

{% block title %}
    Send Mail
{% endblock title %}
    

{% block content %}
    <!-- <h3 class="ms-5">Để quá trình liên hệ với Nu Pet được thuận tiện và diễn ra nhanh chóng. <br>

    Quý khách vui lòng chọn kênh liên lạc theo hướng dẫn bên dưới.</h3> -->
    <div >
        {% if result %}
            <h3 style="text-align: center;">{{ result }}</h3>
        {% endif %} 
        <form class="formcontact" method="POST">
            {% csrf_token %}
            <p>
                <label class="title-contact">Subject ( required ):<br>
                    <input size="40" maxlength="400" class="form-control"type="text" name="your_subject" required>
                    <span class="" data-name="your-name">
                    </span> 
                </label>
            </p>
            <p>
                <label class="title-contact" style="border: 1px;">Email ( required ):<br>
                    <span class="wpcf7-form-control-wrap" data-name="your-email">
                    <input size="40" maxlength="400" class="form-control" value="" type="email" name="your_email" required></span> 
                </label>    
            </p>
            <p>
                <label class="title-contact">Content : <br>
                    <textarea cols="50" rows="5" maxlength="2000" required name="your_message"></textarea>
                </label>
            </p>
            
            <p>
                <input class="btn btn-success" type="submit" value="Submit">
            </p>
        </form>
        
    </div>
    <!-- <div class="moreinformation ms-5">
        <h2 style="color:peru">Quý khách vui lòng liên hệ fanpage Nu Pet trong  các trường hợp sau:</h2>
        <p>1, Cần thêm thông tin sản phẩm mà chưa gấp</p>
        <p>2, Hỗ trợ chính sách cho đại lý</p>
        <p>3, Hỏi về hướng dẫn sử dụng sản phẩm</p>
        <p>4, Hỏi về chương tình khuyến mãi</p>
        <p>5, Các yêu cầu mang tính chất chưa gấp.</p>
        <h6>Khi liên hệ Fanpage quý khách vui lòng mô tả đầy đủ vấn đề đang gặp kèm với số điện thoại để nhân viên tư vấn có thể gọi lại hỗ trợ.

        Trong bất kì trường hợp nào quý khách cũng cần add zalo để nhân viên chúng tôi có thể theo dõi và hỗ trợ giải quyết vấn đề 1 cách tốt nhất.
        </h6>
    </div> -->
{% endblock content %}
    