{% extends 'layouts/index.html' %}

{% block title %}
    List Categories
{% endblock title %}
 
 {% block content %}
    <table class="table table-bordered">
        <thead>
            <th>STT</th>
            <th>Name</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for category in categories %}

                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a class="btn btn-danger" id="update_category_{{category.pk}}" href="{% url 'posts:update-category' category.pk %}">Update</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
   </table>
 {% endblock content %}
    