.container-cus{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(50px,100%/4), 1fr));
}
.content{
    position: relative;
    /* background-color: red; */
    width: 250px;
    height: 320px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3) ;
    border-radius: 20px;
    
}

.price{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 18px;

}

.action{
    position: absolute;
    bottom: 5px;
    margin-left:7%;
}
.hotline{
    position: fixed;
    margin-left: 85%;
    bottom: 10px;
}
.image>img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    transition: transform 0,5s ease, box-shadow 0.5s ease;

}

.image:hover img{
    object-fit: cover;
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;

}

.img-detail{
    width: 600px;
    max-width:100%;  
    height: 400px;
    object-fit: cover;
    object-fit: contain;
}
.img-detail > img{
    height: 400px;
}
.description{
    position: relative;
    height: 400px;
    vertical-align: middle;
    display: table-cell;
}
.clickbuy{
    position: absolute;
    bottom: 5px;
}

.img-cart{
    border-radius: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-fit: contain;
}
.total_price{
    text-align: right;
    margin-right: 15px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}

.contactq{
   
}
.formcontact{
   text-align: center;
}
.title-contact{
    text-align: left;
    font-weight: 500;
}

.form-control{
    border-radius: 20px;
}
.form-control1{
    border: 2px;
}
.addtocart{
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.addtocart:hover{
    background-color:darkred;
}
.buynow{
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buynow:hover{
    background-color: green;
}
.quantityinput{
    width: 50px;
}

.aheader{
    text-decoration: none;
    color: black;
    font-weight: 400;
}