{% extends 'admin/dashboard/index.html' %}
{% block content %}
<div class="container">
    <h2>Danh sách người dùng</h2>
    <table class="table table-bordered-bd-warning">
        <thead>
            <tr>
                <th>ID</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Day Join</th>
            </tr>
        </thead>
        <tbody>
            {% for user in page_obj %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined|date:"d-m-Y" }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No users.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <button class="btn btn-outline-dark">
                    <a href="?page=1">&laquo; First</a>
                </button>
                <button class="btn btn-outline-dark">
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </button>
            {% endif %}

            <span class="current">
                Trang {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <button class="btn btn-outline-dark">
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                </button>
                <button class="btn btn-outline-dark">
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </button>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}