{% extends 'users/layouts/index.html' %}


{% block title %}
    Groups Chat
{% endblock title %}
    

{% block room %}
    <h3 style="text-align:center">Hi, Welcome to {{ room_name }}</h3>
        <div class="messenger" >
            <div class="containerroom  pt-5 pe-5 ps-5" id="containerroom">
                {% for message in messages %}
                    {% if message.sender.lower == username.lower %}
                        <div class="mymessage">
                            <div class="message-content">{{message.message}}</div>
                            <p class="message-timestamp-right"> {{message.time_stamp|date:"H:i"}}</p>
                        </div>
                    {% else %}
                        <div class="messagesender">
                            <div class="message-content">{{message.message}}</div>
                            <p class="message-timestamp-left">{{message.sender}} {{message.time_stamp|date:"H:i"}}</p>
                        </div>
                    {% endif %} 
                {% endfor %}
            </div>

            <form action="" id="msg-form" method="post" class="forminput">
                {% csrf_token %}
                <input type="text" placeholder="Enter Your Message" id="message"
                name="message" class="inputmessage form">
                <button type="submit" class="buttonsend btn btn-primary me-3">Send</button>
            </form>
        </div>  

       <script>
            $(document).ready(function(){
                const socketUrl = `ws://${window.location.host}/ws/messages/{{room_name}}/`;
                console.log(socketUrl);
                const socket = new WebSocket(socketUrl);

                //Send message from to backend
                $('#msg-form').on('submit', function(e){
                    e.preventDefault();
                    let message_sent = $('#message').val().trim();

                    if (message_sent === "") {
                         return;
                    }
                    socket.send(
                        JSON.stringify({
                            message: message_sent,
                            room_name : "{{room_name}}",
                            sender: "{{username}}",
                        })
                    );

                    //delete content after send
                    $("#message").val('');
                });
                const chat_divs = $('#containerroom');
                const scrollToBottom = () => {
                    chat_divs.scrollTop(chat_divs[0].scrollHeight);
                };

                // Receive message from backend
                socket.addEventListener('message', (e) => {
                    const data = JSON.parse(e.data)['message'];

                    let sender = data['sender']
                    let content = data['message']
                    
                    // show messages sent
                    if(sender == "{{username}}"){
                        chat_divs.append(
                            `
                            <div class="mymessage">
                                <div class="message-content">${content}</div>
                                <p class="message-timestamp-right">{{message.time_stamp|date:"H:i"}}</p>
                            </div>
                            `
                        );
                    }else{
                        chat_divs.append(`
                            <div class="sendermessage">
                                <div class="message-content">${content}</div>
                                <p class="message-timestamp-right">${sender}{{message.time_stamp|date:"H:i"}}</p>
                            </div>
                        `);
                    }
                    scrollToBottom();
                });
            });
       </script>
{% endblock room %}
    
    
    