{% load static %}
<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="index.html" class="logo">
        <img  src="{% static 'assets/img/kaiadmin/logo_light.svg' %}"
              alt="navbar brand" class="navbar-brand" height="20"/>
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item active">
          <a  href="{% url 'posts:dashboard' %}"
              class="collapsed" aria-expanded="false">
            <!-- <i class="fas fa-home"></i> -->
            <p>Dashboard</p>
          </a>
        </li>
        <!-- manage -->
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Manage</h4>
        </li>
        <!-- User -->
        <li class="nav-item">
          <a href="{% url 'posts:list-user' %}">
            <p>User</p>
          </a>
        </li>
        <!-- Order -->
        <li class="nav-item">
          <a href="{% url 'posts:list-order' %}">
            Order
          </a>
        </li>
        <!-- Category -->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#category">
              <p>Category</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="category">
            <ul class="nav nav-collapse">
              <li>
                <a href="{% url 'posts:list-category' %}">
                  <span class="sub-item">List</span>
                </a>
              </li>
              <li>
                <a href="{% url 'posts:create-category' %}">
                  <span class="sub-item">Add</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Post -->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#posts">
            <p>Posts</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="posts">
            <ul class="nav nav-collapse">
              <li>
                <a href="{% url 'posts:admin-list-posts' %}">
                  <span class="sub-item">List</span>
                </a>
              </li>
              <li>
                <a href="{% url 'posts:create-post' %}">
                  <span class="sub-item">Add</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        
        <!-- Comment -->
        <li class="nav-item">
          <a href="{% url 'posts:chatadmin' %}">
            <p>Chat</p>
            <!-- <span class="caret"></span> -->
          </a>
          <!-- <div class="collapse" id="chat">
            <ul class="nav nav-collapse">
              <li>
                <a href="tables/tables.html">
                  <span class="sub-item">Basic Table</span>
                </a>
              </li>
              <li>
                <a href="tables/datatables.html">
                  <span class="sub-item">Datatables</span>
                </a>
              </li>
            </ul>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
</div>